header {
    background-color: black;
    color: white;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(record.png);
    background-repeat: ;
}

main {
    padding: 1em;
    background-color: lightgray;
    text-align: center;
}